
#app-body .contenedorInput{
	width: 50%;
	margin-left: 200px;
	margin-top: 30px;
	
}

#app-body label {
	font-size: 12px;
    font-weight: bold;
}

#app-body #info-contable #monto-ingresado{
	padding-left:3px;
}

#app-body #info-contable #monto-descuento{
	padding-left:3px;
}

#app-body #info-contable #monto-final{
	padding-left:3px;
}

/* 
#app-body #div-fecha-pago{
 	margin-left: 240px;
    margin-top: 20px;
}
*/

#app-body #div-fecha-pago #fecha-pago{
 	padding-left:11px !important;
 	padding-top: 6px !important;
 	padding-bottom: 6px !important;
}

#app-body div span{
	font-size:11px;
	margin-left: 344px
}


#app-body #div-btn-registrar{
	padding-top: 40px;
	text-align:center;
	margin-top: 15px;
}



#app-footer p{
	font-style: italic;
	color: #A00000;
	margin-top: 20px;
	font-size: 13px;
}


.soloLectura{
	background-color: #DCDCDC;
	padding-left: 5px;
}


