@charset "utf-8";
/* Cascada de estilo SIG */

/*Estilos index.html*/
html,body {
	font-family: "Trebuchet MS", Helvetica, sans-seriff;
	/* Color antiguo, antes de bootstrap */
	/* background-color: rgb(236, 236, 237); */
	backgroung-color: rgb(0,0,0);
	font-weight: 500;
}

/* encabezado  43,110,180*/
header {
	background-color: rgb(43,110,180);
	
}

header img {
	width: 200px;
	margin: 0px 0px 0px 5%;
}

header h1 {
	display: block;
	color: white;
	text-align: center;
	font-size: 20px;
	text-transform: uppercase;
}

.login-block {
	width: 320px;
	padding: 20px;
	background: #fff;
	border-radius: 5px;
	border-top: 5px solid #ff656c;
	margin: 40px auto;
}

.login-block h1 {
	text-align: center;
	color: #000;
	font-size: 18px;
	text-transform: uppercase;
	margin-top: 0;
	margin-bottom: 50px;
}

.login-block input {
	width: 100%;
	height: 42px;
	box-sizing: border-box;
	border-radius: 5px;
	border: 1px solid #ccc;
	margin-bottom: 20px;
	font-size: 14px !important;
	padding: 0 20px 0 50px;
	outline: none;
}

.login-block input#txtUserName {
	background: #fff url('../img/login/user.png') 20px top no-repeat;
	background-size: 16px 80px;
}

.login-block input#txtUserName:focus {
	background: #fff url('../img/login/user.png') 20px bottom no-repeat;
	background-size: 16px 80px;
}

.login-block input#password {
	background: #fff url('../img/login/password.png') 20px top no-repeat;
	background-size: 16px 80px;
}

.login-block input#password:focus {
	background: #fff url('../img/login/password.png') 20px bottom no-repeat;
	background-size: 16px 80px;
}

.login-block input:active,.login-block input:focus {
	border: 1px solid #ff656c;
}

.login-block input[type=submit] {
	width: 100%;
	height: 40px;
	background: #FF656c;
	box-sizing: border-box;
	border-radius: 5px;
	border: 1px solid #e15960;
	color: #fff;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 14px;
	outline: none;
	cursor: pointer;
	padding: 0px;
}

.login-block input[type=submit]:hover {
	background: #FF7b81;
}

#mainContainer {
	margin-left: auto;
	margin-right: auto;
	width: 1200px;
}

table#principal {
	border-collapse: collapse;
	width: 1124px;
	border-spacing: 0px 0px;
	border-style: solid;
	border-width: 0px;
	padding: 0px;
	margin: 0px;
}

#menu {
	padding: 0px;
	margin: 0px;
	border: 1px solid black;
	vertical-align: top;
}

.celda {
	padding: 0px;
	margin: 0px;
	border: 1px solid black;
}

.wwFormTable td,.wwFormTable th {
	border-width: 0px !important;
}

#contenidoTd {
	vertical-align: top;
	padding: 0px;
}

#scroll {
	height: 100%;
	overflow-y: auto;
	overflow-x: none;
}

#contenidoDin {
	margin: 10px;
}

#th1 {
	width: 26%;
	height: 5px;
	background: rgb(43,110,180) !important;
	vertical-align: middle;
}

#th2 {
	width: 74%;
	height: 26px;
	background: rgb(43,110,180) !important;
}

#menu {
	border-spacing: 0px 0px;
}

#menu div {
	border-top-style: solid;
	border-width: 1px;
}

#menu .titulo1 {
	font-size: 16px;
	border-top-style: none;
}

#menu .titulo2 {
	font-size: 16px;
	border-top-style: none;
}

#menu div label.titulo1,#menu div label.titulo2 {
	padding-left: 2px;
	font-weight: bold;
}

#menu a {
	text-decoration: none;
	margin-left: 30px;
	color: black;
}

/*Estilos generales*/
div .cajaTitulo {
	width: 670px;
	border-style: solid;
	border-width: 3px;
	padding: 3px;
	text-align: center;
	font-weight: bold;
	vertical-align: top;
}

div .cajaContenido {
	margin: 10px 0px 0px 0px;
}

div .cajaContenido .cajaContenidoTitulo {
	margin-left: 50px;
	border: solid 1px;
	margin-bottom: 10px;
	width: 180px;
	padding: 5px;
	text-align: center;
}

div .cajaContenido .cajaFormulario {
	margin-left: 100px;
}

div .cajaContenido .botonera input {
	margin-top: 20px;
	position: relative;
	left: 100px;
}

div.cajaContenido table.tablaRes {
	width: 100%;
	border-collapse: collapse;
	font-size: 12px;
}

div.cajaContenido table.tablaRes th,div.cajaContenido table.tablaRes td
	{
	height: 20px;
}

div.cajaContenido table.tablaRes td {
	padding-left: 10px !important;
}

div .botoneraExterna {
	margin-bottom: 3px;
	width: 681px;
	padding-top: 5px;
	padding-bottom: 5px;
}

div .botoneraExterna div .alignIzq {
	position: relative;
}

/*arreglos Alberto*/
input[type="text"] {
	font-size: 8pt;
}

input[type="password"] {
	font-size: 8pt;
}

div.titulo,div.subTitulo {
	font-weight: bold;
	font-size: 11pt;
	margin-bottom: 5px;
	color: black;
	font-style: normal;
	text-align: center;
	font-family: 'Arial Narrow', Arial;
	border-style: solid;
	border-width: 1px;
}

div.subTitulo {
	font-size: 10pt !important;
}

div.titulo,div.subTitulo,table.contenedorInput,table.tablaContenido {
	background-color: #d3d3d3;
}

table.contenedorInput,table.tablaContenido {
	border-collapse: collapse;
	border-top: 0px;
	border-left: 1px;
	border-bottom: 1px;
	border-right: 1px;
	border-style: solid; //
	border: 1px solid black !important;
	FONT-WEIGHT: normal;
	FONT-SIZE: 8pt;
	COLOR: black;
	FONT-STYLE: normal;
	FONT-FAMILY: Arial, Helvetica, sans-serif
}

table.contenedorInput {
	border-collapse: collapse;
	border-top: 1px;
	border-style: solid;
}

table.tablaContenido th {
	border: 1px solid black !important;
}

table.tablaContenido td {
	border-top: 0px;
	border-left: 1px;
	border-bottom: 1px;
	border-right: 1px;
	border-style: solid;
}

input.campoObligatorio {
	background-color: #FFFFCE;
	border: 1px solid #FFFF00;
}

input.campoObligatorioOk {
	background-color: #FFFFFF;
	border: 1px solid #00FF00;
}

input.campoSalida {
	background-color: #EDEDED;
	color: #767676;
	border: 1px solid #9C9C9C;
}

input.campoSalidaNum {
	text-align: right;
	background-color: #EDEDED;
	color: #767676;
	border: 1px solid #9C9C9C;
}

input.campoError {
	background-color: #FFF4F4;
	border: 1px solid #FF0000;
}

.content-popup {
	margin: auto;
	padding: 10px;
	width: 60%;
	min-height: 250px;
	border-radius: 4px;
	background-color: #FFFFFF;
	box-shadow: 0 2px 5px #666666;
	opacity: 1 !important;
	z-index: 999;
}
.content-popup-cobro-cargo {
	margin: auto;
	padding: 10px;
	width: 90%;
	min-height: 250px;
	border-radius: 4px;
	background-color: #FFFFFF;
	box-shadow: 0 2px 5px #666666;
	opacity: 1 !important;
	z-index: 999;
}
#popup {
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 99;
	opacity: 0.7;
	background-color: #000000;
}

#loading {
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 1001;
	opacity: 0.7;
	background-color: #000000;
}

#tablaResDiv {
	height: 460px;
	width: 100%;
	overflow-y: auto;
	overflow-x: hidden;
}

.tablaScroll td {
	height: 20px;
}

.tablaScroll {
	width: 670px;
	border-collapse: collapse;
	font-size: 12px;
}

.filaSel td {
	background-color: #EDEDED;
}

/*arreglos alberto */
.tituloPrincipal {
	font-size: 11pt;
	text-align: center;
}

.linea {
	font-size: 9pt;
}

.lineaButton {
	font-size: 9pt;
	align: center;
}

.CuerpoNormal {
	FONT-WEIGHT: normal;
	FONT-SIZE: 8pt;
	COLOR: black;
	FONT-STYLE: normal;
	FONT-FAMILY: Arial, Helvetica, sans-serif
}

.bgceleste2 {
	BORDER-RIGHT: #a5bad1;
	BORDER-TOP: #a5bad1;
	BACKGROUND: #a5bad1;
	BORDER-LEFT: #a5bad1;
	BORDER-BOTTOM: #a5bad1
}

.bordeSimple {
	border: #a5bad1 solid;
	border-style: double;
	border-width: thin thin;
}

.for_cajon {
	BORDER-RIGHT: medium none;
	BORDER-TOP: medium none;
	FONT-SIZE: 10px;
	BORDER-LEFT: medium none;
	BORDER-BOTTOM: medium none;
	FONT-FAMILY: Arial;
	BACKGROUND-COLOR: #ffffff
}

.clsItemSelect2 {
	CURSOR: default;
	COLOR: #42617c;
	BACKGROUND-COLOR: #ffffcc
}

.bgceleste2 {
	BORDER-RIGHT: #a5bad1;
	BORDER-TOP: #a5bad1;
	BACKGROUND: #a5bad1;
	BORDER-LEFT: #a5bad1;
	BORDER-BOTTOM: #a5bad1
}

.celda .logo {
	position: absolute;
	left: 1100px;
	top: 0px;
}

#titulo1 .logo {
	position: absolute;
	left: 588px;
	top: 4px;
	z-index: 1001;
}

#titulo1 {
	position: relative;
}

a:hover {
	text-decoration: none;
	color: #0000CC !important;
}

.alineacionTabla{
	text-align: left;
	padding-left: 8px;
}

.alineacionTablaRight{
	text-align: right;
	padding-left: 8px;
}

.alineacionTablaCenter{
	text-align: center;
	padding-left: 8px;
}
.tdcell {
	padding-left:4px;
}

.selectHover:hover {
	background-color: Gray; 
}

.selectHover:hover a {
	color: rgb(255,255,255) !important; 
}

.bg-red {
	background-color: rgb(43,110,180);
}

.subMenuElegido {
	background-color: rgb(230, 230, 230);
}
